body{background-color: black}
.text{
	color: red;
	font-size: 5s0px;
	background-color:white;
    }
h2{
	color: red;
	font-size: 50px;
	background-color:white;
    }
	
#text{
	color: red;
	font-size: 50px;
	background-color:white;